node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp

# Misc
*.local
*.lock

# Svelte
__sapper__/
.svelte/

# Coverage
coverage/

# Others
*.tgz

# Optional: ignore static build artifacts
/static/*.jpg:Zone.Identifier
